*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #222222;
    background-image: linear-gradient(to right, #fff2 1px, transparent 1px),
    linear-gradient(to bottom, #fff2 1px, transparent 1px);
    background-size: 40px 40px;
    cursor: none;
}

#cursor{
    position: fixed;
    width: 25px;
    height: 25px;
    border-top: 4px solid #1b1;
    border-left: 4px solid #1b1;
    filter: drop-shadow(0 0 2px #1b1) drop-shadow(0 0 10px #1b1) drop-shadow(0 0 30px #1b1);
    transform-origin: top;
    pointer-events: none;
    transition: transform .1s ease;
    transform: rotate(10deg) scale(0);
}

#cursor::after{
    content: '';
    position: absolute;
    left: -2px;
    width: 4px;
    height: 40px;
    background-color: #1b1;
    filter: drop-shadow(0 0 2px #1b1) drop-shadow(0 0 10px #1b1) drop-shadow(0 0 30px #1b1);
    transform-origin: top;
    transform: rotate(320deg);
}

body:hover #cursor{
    transform: rotate(10deg) scale(1);
}

.element {
    position: absolute;
    color: #1b1;
    pointer-events: none;
    width: 10px;
    height: 10px;
    transition: 1s;
    font-size: 2em;
    filter: drop-shadow(0 0 2px #1b1) drop-shadow(0 0 10px #1b1) drop-shadow(0 0 30px #1b1);
}