*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1b1b;
    overflow-y: hidden;
}
.container{
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #424040;
}
.container .cloud {
    position: relative;
    width: 320px;
    height: 100px;
    border-radius: 100px;
    background-color: white;
    filter: drop-shadow(8px 8px 0 #1113);
    animation: stormEffect 2s steps(1) infinite;
}
@keyframes stormEffect {
    0%{
        filter: drop-shadow(8px 8px 0 #1113) drop-shadow(0 0 0 #ffff) brightness(1);
    }
    90%{
        filter: drop-shadow(8px 8px 0 #1113) drop-shadow(0px 0px 50px #ffff) brightness(10);
    }
}

.container .cloud::before{
    content: '';
    position: absolute;
    left: 40px;
    top: -52px;
    width: 110px;
    height: 110px;
    background-color: lightslategray;
    border-radius: 50%;
    box-shadow: 90px 0 0 20px lightslategray;
}
.container .cloud::after{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 100px;
    background-color: lightslategray;
}

.container .cloud .rain{
    position: absolute;
    top: 40px;
    width: 2px;
    height: 10px;
    background-color: aqua;
    transform-origin: bottom;
    animation: rain 1s linear infinite;
}

@keyframes rain {
    0%{
        transform: translateY(0px) scaleY(1);
    }
    70%{
        transform: translateY(360px) scaleY(1);
    }
    80%{
        transform: translateY(360px) scaleY(0.3);
    }
    100%{
        transform: translateY(360px) scaleY(0) scaleX(20);
    }
}




